html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.counter-container {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
  transition: transform 0.2s ease, color 0.2s ease;
}

.counter-container.animate {
  transform: scale(1.5);
  /* color: #2ecc71; */
  text-shadow: 0 0 10px #fff;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2ecc71;
}
